/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

nextflow.enable.moduleBinaries = true

params {

    // Pipeline parameters
    project_name = "Project"
    input        = "${launchDir}/test/iris.tsv"
    outdir       = "output"

    // Notebooks
    notebookA    = "${launchDir}/modules/local/moduleA/moduleA.qmd"
    notebookB    = "${launchDir}/modules/local/moduleB/moduleB.qmd"
    notebookC    = "${launchDir}/modules/local/moduleC/moduleC.qmd"

    // Module parameters
    paramA       = "CustomA"
    paramB       = "CustomB"
    paramC       = "CustomC"

    // Dataflow parameters
    skip_python  = false

    // Quarto parameters
    page_config  = "${launchDir}/assets/template/_quarto.yml"
    template     = "${launchDir}/assets/template/*"

}

docker {
    enabled      = true
    fixOwnership = true
}

process {
    container = 'nf-quarto:latest'
    containerOptions = '-u $(id -u):$(id -g) -e USERID=$UID -e XDG_CACHE_HOME=tmp/quarto_cache_home -e XDG_DATA_HOME=tmp/quarto_data_home -e QUARTO_PRINT_STACK=true'
    stageInMode = 'copy'
    afterScript = 'rm -rf tmp'
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'
