docker.enabled = true
docker.fixOwnership = true

params {
    outdir = "output"
}


process {
    // default container
    container = 'rocker/verse:latest'
    containerOptions = '-u $(id -u):$(id -g) -e USERID=$UID -e XDG_CACHE_HOME=tmp/quarto_cache_home -e XDG_DATA_HOME=tmp/quarto_data_home -e QUARTO_PRINT_STACK=true'
    stageInMode = 'copy'
    afterScript = 'rm -rf tmp'
}
