params {
    notebookA    = "${projectDir}/notebook/step_01.qmd"
    notebookB    = "${projectDir}/notebook/step_02.qmd"
    notebookC    = "${projectDir}/notebook/step_03.qmd"

    page_config  = "${launchDir}/assets/template/_quarto.yml"
    template     = "${launchDir}/assets/template/*"

    project_name = "Test"
    outdir       = "output"

    skip_python  = false

    // Parameters for each process
    paramA       = "CustomA"
    paramB       = "CustomB"
    paramC       = "CustomC"

}

docker {
    enabled = true
    fixOwnership = true
}

process {
    container = 'nf-quarto:latest'
    containerOptions = '-u $(id -u):$(id -g) -e USERID=$UID -e XDG_CACHE_HOME=tmp/quarto_cache_home -e XDG_DATA_HOME=tmp/quarto_data_home -e QUARTO_PRINT_STACK=true'
    stageInMode = 'copy'
    afterScript = 'rm -rf tmp'
}
