process {

    withName: "QUARTO_RENDER_PAGEA" {
        publishDir = [
            '${params.outdir}/${params.project_name}', pattern: '*.RDS', mode: 'copy'
        ]
    }

    // Question 3: This is not working do you know why?
    withName: "QUARTO_RENDER_PAGEC" {
        ext.when = { params.skip_python == false }
    }


}
