process {

    withName: "QUARTO_RENDER_PROJECT" {
        publishDir = [
            path:{ "${params.outdir}/${params.project_name}" },
            mode: 'copy'
        ]
    }

    withName: "QUARTO_RENDER_PAGE.*" {
        publishDir = [
            path: { "${params.outdir}/${params.project_name}" },
            pattern: '*.RDS',
            mode: 'copy'
        ]
    }

    withName: "QUARTO_RENDER_PAGEC" {
        ext.when = { params.skip_python == false }
    }

}
